body{
    font-family: "Arial";
}
.cv-header img{
    width: 150px;
    padding-left: 80%;
}
.cv-header a{
    font-size: 1.3em;
    padding: 200px;
}


.cv-header h1{
    text-align: center;
    font-family: 'LTR Principia Variable Regular';
    border:4px solid black;
}

.cv-interet img{
    width: 75px;
    height:50px;
    padding: 75px;
}
.cv-interet li{
    display: inline;
    padding: 75px;

}

nav{
    width:100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
}
