body{
    font-family: "Arial";
}
.cv-header img{
    width: 150px;
    padding-left: 80%;
}
.cv-header a{
    font-size: 1.3em;
    padding: 200px;
}


.cv-header h1{
    text-align: center;
    font-family: 'LTR Principia Variable Regular';
    border:4px solid black;
}

.cv-interet img{
    width: 75px;
    height:50px;
    padding: 75px;
}
.cv-interet li{
    display: inline;
    padding: 75px;

}

.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
